// product card css starts
.single-product-card {
  text-align: center;
  display: inline-block;
  width: 22%;
  position: relative;
  a {
    text-decoration: none;
    color: #000;
  }
  .item-background {
    background-color: #fff;
    padding: 20px 10px 80px 10px;
    border-radius: 10px;

    .remove-item {
      position: absolute;
      top: 10px;
      right: 0px;
      width: 30px;
      height: 20px;
      cursor: pointer;
    }
  }
  img {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 5px;
    height: 250px;
    object-fit: cover;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.2rem;
    margin: 5px 0px;
    font-weight: 400;
  }
  p {
    font-size: 1.6rem;
    font-weight: 600;
  }

  button {
    padding: 10px 10px;
    min-width: 150px;
    border: 1px solid #2b4b18;
    text-transform: capitalize;
    color: #fff;
    background-color: #81a969;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (max-device-width: 767px) {
    width: 100%;
  }
}
// product card css ends

// filter css starts
.site-filters {
  margin: 40px 0px;
  h3.title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #2b4b18;
    letter-spacing: 2px;

    img {
      width: 20px;
      vertical-align: middle;
    }
  }
  .category-filter {
    gap: 20px !important;
    p {
      font-size: 1.4rem;
      color: #2b4b18;
      font-weight: 600;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    select {
      border: 1px solid #2b4b18;
      font-size: 1.6rem;
      outline: none;
    }
  }
  .sort-filter {
    gap: 30px !important;
    button {
      font-size: 1.4rem;
      padding: 3px 10px;
      min-width: 100px;
      border: 1px solid #2b4b18;
      background-color: #fff;
      border-radius: 15px;
      text-transform: capitalize;
      margin-right: 20px;
      cursor: pointer;
      outline: none;
    }
  }
}
// filter css ends

// breadcrumb
.breadcrumb-container {
  padding: 150px 0px;
  text-align: center;
  background-image: url("../assets//breadcrumbbg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 90px;
  h1 {
    font-size: 3.8rem;
    font-weight: 400;
    position: relative;
    &::after {
      content: "";
      width: 70px;
      height: 2px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000;
    }
  }

  @media only screen and (max-device-width: 767px) {
    padding: 60px 0px;
    margin-top: 0px;
    h1 {
      font-size: 3rem;
    }
  }
}

// categories box css start
.category-type-item {
  height: 200px;
  background-image: url("../assets/categorybgimg.webp");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  border-radius: 10px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }

  h2 {
    font-size: 3.2rem;
    width: 100%;
    color: #fff;
    text-transform: capitalize;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media only screen and (max-device-width: 767px) {
    width: 95%;
    height: 160px;

    h2 {
      font-size: 3rem;
    }
  }
}
// categories box css ends

// loader component css start
.content-loader {
  height: 100vh;
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  overflow-x: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// loader component css ends
